<div class="product-header">
    <p class="product-header-text">All Products</p>
</div>
<div class="container">
    <div class="table-heading">
        <p class="table-heading-text">Select product</p>
        <div class="table-header-right">
            <div class="filter-box">
                {{svg-jar "filter" class="filter-svg"}}Filter
            </div>
            <div class="search-box">
                {{svg-jar "search" class=" search-svg"}} Search product
            </div>
        </div>
    </div>

    <table class="products-table">
        <thead class="table-head">
            <tr>
                {{#each columns as |column|}}
                    <th>{{column}}</th>
                {{/each}}
            </tr>
        </thead>

        <tbody class="table-body">
          {{#each products as |product|}}
            <tr>
                <td><a href="products/{{product.id}}" class="product-name">{{product.label}}</a></td>
                <td class="product-name">{{product.environment}}</td>
                <td class="table-bold">{{product.activeCampaigns}}</td>
                <td class="table-bold">{{product.userImpact}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>
</div>
